:root {
  --main-text: #434455;
  --background-color: #ffffff;
  --logo-color: #4d5ae5;
  --description-text: #2e2f42;
  --hover-focus-color: #404bbf;
  --section-background-color: #f4f4fd;
  --bg-gradient: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
}

* {
  margin: 0;
  padding: 0;
  list-style: 0;
}

.list {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text);
  background-color: var(--background-color);
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header-border {
  border-bottom: 1px solid #e7e9fc;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
}
.logo-text {
  color: var(--description-text);
}

.link {
  text-decoration: none;
}

.link:hover {
  color: var(--hover-focus-color);
}

.link:focus {
  color: var(--hover-focus-color);
}

.nav-list {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 76px;
}

.site-nav .items {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--description-text);
  padding-top: 24px;
  padding-bottom: 24px;
}

.site-nav .items + .items {
  margin-left: 40px;
}

.adress-list {
  font-style: normal;
  margin-left: auto;
}

.adress-items {
  display: flex;
}

.adress-items .items + .items {
  margin-left: 40px;
}

.adress-list-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text);
}

.adress-list-item:hover {
  color: var(--hover-focus-color);
}

.adress-list-item:focus {
  color: var(--hover-focus-color);
}

/* Sections */

.section-description {
  background-color: var(--description-text);
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: var(--bg-gradient), url("../images/people-office.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.section-description-item {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--background-color);
  width: 496px;
  height: 120px;
  margin: auto;
}

.section-description-btn {
  background-color: var(--logo-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--background-color);
  cursor: pointer;
  padding: 16px 32px;
  display: block;
  margin: 0 auto;
  margin-top: 64px;
  border: none;
}

.section-description-btn:hover {
  background-color: var(--hover-focus-color);
}

.section-description-btn:focus {
  background-color: var(--hover-focus-color);
}

/* Features */

.section-features {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-features-list {
  display: flex;
}

.section-features .item-features {
  width: calc((100% - 24px * 3) / 4);
}

.section-features .item-features + .item-features {
  margin-left: 24px;
}

.section-features-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--description-text);
  margin-bottom: 8px;
}

.section-features-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text);
}

.svg-features-block {
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}

/* Doing */

.section-doing {
  padding-bottom: 120px;
}

.section-doing-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--description-text);
}

.section-doing-list {
  display: flex;
  margin-top: 72px;
}

.section-doing-list .doing-item + .doing-item {
  margin-left: 24px;
}

/* Team */

.section-team {
  background-color: var(--section-background-color);
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-team-head {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--description-text);
  margin-bottom: 72px;
}

.section-team-list {
  display: flex;
}

.section-team-list .section-team-item + .section-team-item {
  margin-left: 24px;
}

.section-team-item {
  background-color: var(--section-background-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.section-team-person {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--description-text);
  margin-bottom: 8px;
}

.section-team-person-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text);
  text-align: center;
  margin-bottom: 8px;
}

.team-person-description {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: var(--background-color);
}

.team-social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-social-item {
  width: 40px;
  height: 40px;
}

.team-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-social-icon {
  fill: #f4f4fd;
}

.team-social-link:focus {
  background: #404bbf;
}

.team-social-link:hover {
  background: #404bbf;
}
/* Customers */

.section-customers {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-customers-header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.section-customers-list {
  display: flex;
  box-sizing: border-box;
}

.svg-customers-icon {
  height: 100%;
}

.customers-link {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 88px;
  border: 1px solid #8e8f99;
  fill: #8e8f99;
  border-radius: 4px;
}

.section-customers-item {
  width: calc((100% - 24px * 5) / 6);
}

.section-customers-list .section-customers-item + .section-customers-item {
  margin-left: 24px;
}
.section-customers-item {
  display: flex;
  justify-content: center;
}

.customers-link:hover {
  fill: #404bbf;
  border-color: #404bbf;
}
.customers-link:focus {
  fill: #404bbf;
  border-color: #404bbf;
}

/* Footer */

.footer-main {
  background-color: var(--description-text);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-container {
  display: flex;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
}

.logo-footer-text {
  line-height: 24px;
  color: var(--section-background-color);
  margin-top: 18px;
}

.footer-size {
  max-width: 264px;
}

.footer-social {
  width: 208px;
  height: 80px;
  margin-left: 120px;
}

.footer-social-title {
  width: 100%;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  gap: 16px;
}

.footer-social-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-social-icon {
  fill: #f4f4fd;
}

.footer-social-link:focus {
  background: #31d0aa;
}

.footer-social-link:hover {
  background: #31d0aa;
}

/* Portfolio */

.section-main {
  padding-top: 96px;
  padding-bottom: 120px;
}

.btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

.section-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 12px 24px;
  color: var(--logo-color);
  background-color: var(--section-background-color);
  cursor: pointer;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}

.btn-list .items + .items {
  margin-left: 24px;
}

.section-btn:hover {
  color: var(--background-color);
  background-color: var(--hover-focus-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: var(--hover-focus-color);
}

.section-btn:focus {
  color: var(--background-color);
  background-color: var(--hover-focus-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: var(--hover-focus-color);
}

/* Services */

.services-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.item {
  width: 360px;
  margin-right: 24px;
  margin-bottom: 48px;
}

.item:nth-child(3n) {
  margin-right: 0px;
}

.item:nth-child(n + 6) {
  margin-bottom: 0px;
}

.sevices-link {
  display: block;
}

.sevices-link:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.section-service-descrip {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--description-text);
}
.section-service-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text);
  margin-top: 8px;
}

.section-service-border {
  border: 1px solid #e7e9fc;
  border-top: transparent;
}

.section-service-card {
  padding-left: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
}

/* Icons */
